<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task4</title>
</head>
<body>
<h1>
    {% block pagename %}
    Название страницы
    {% endblock %}
</h1>
<nav>
    {% block menu %}
    <ul>
        <h4><a href="/platform/">Главная</a></h4>
        <h4><a href="/platform/shop/">Магазин</a></h4>
        <h4><a href="/platform/cart/">Корзина</a></h4>
    </ul>
    {% endblock %}
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
